body {
    background: rgba(0, 0, 0, 0.705);
    font-family: "Courier New", Courier, monospace;
    }
    .cover {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.336);
    padding: 1% 2% 1% 1%;
    border-radius: 10px;
    text-shadow: 5px 5px 30px rgb(255, 255, 255),
        0px 0px 80px rgb(255, 255, 255) !important;
    }
    .title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    }
    .brand {
    float: left;
    font-weight: bold;
    color: #00f;
    text-shadow: 5px 5px 30px rgb(255, 255, 255);
    cursor: default;
    font-size: 1.3rem;
    }
    .time {
    float: right;
    border: none;
    padding: 1% 3% 1% 3%;
    color: #000;
    border: 2px solid #000;
    background: transparent;
    font-weight: bold;
    min-width: 20%;
    text-align: center;
    border-radius: 3px;
    text-shadow: 5px 5px 30px rgb(255, 255, 255);
    cursor: help;
    }
    .screen {
    width: 100%;
    margin-top: 2%;
    /* margin-right: 2% !important; */
    padding: 2.5% 0%;
    padding-left: 3%;
    border: none;
    border-radius: 5px;
    background: rgba(170, 214, 98, 0.897);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.336);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 5px 5px 30px rgb(255, 255, 255);
    cursor: grab;
    }
    .screen:focus {
    outline: none;
    }
    .row {
    margin: 5% 0 0 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    button {
    padding: 1% 4%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.33);
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    text-shadow: 5px 5px 30px rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 5px;
    width: 10%;
    text-align: center;
    }
    button:focus {
    outline: none;
    }
    button.secondary {
    background: #000;
    }
    button.equal {
    background: #00f;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 255, 0.33);
    }
    button.cancel {
    width: 15%;
    background: #f00;
    box-shadow: 1px 1px 3px 3px rgba(255, 0, 0, 0.33);
    }
    button.num {
    color: #000;
    }